body{
	background-color:rgb(205,220,255);
	
	margin: 0px;
	
}

h1{
	font-family: "Times New Roman";
	text-align:center;
}

h2{
	font-family: "arial";
	text-align:center;
}

h3{
	font-family: "arial";
	text-align:center;
}

.lilashift{
	position:absolute;
	top: 5vw;
	z-index: -1;

	
}