body{
	background: #4fff72;
	margin:0%;
}

.topmenue{
	width: 25%;
	height: 5%;
	position: fixed;
	background:#abffbc;
	text-align: center;
	margin:0%;
	padding-top:1%;
}

.lm{
	left:25%;
}

.rm{
	left:50%;
}

.rr{
	left:75%;
}


	
	
