body{
	background: #bf6c3f;
}
div{	
	width: 20%;
	height: 20%;

	position: absolute;
	transform: transpose(-50%, 50%);
	top: 20%;
	left: 42%;
}

h1{
	font-size: 10.0 em;	
	text-align:center;
	
}




	
	
