header{
	margin:0%;
	
}
body{
	background-image: url('background.jpg');
  	background-repeat: no-repeat;
	background-size: cover;
	margin:0%;	
}
h1{
	background:rgba(220,255,220,0.9);
	border-radius:1vw;
	padding:1.5vw;
	font-family: "Serif";
	text-align: center;
}

p{
	background:rgba(245,255,247,0.9);
	border-radius:1vw;
	padding:1.5vw;
	font-family: "Times New Roman";
	font-size: 2.5em;
}

section{
	position:absolute;
	width:80%;
	transform:transpose(-50%,-50%);
	left:10%;
}


.pip{
	position: absolute;
	height: 7vw;
	width: 7vw;
	background: rgb(210,255,210);
	display:block;
	
}

.topmenu{
	position: absolute;
	height: 100%;
	width:50%;
	background: rgb(230,255,230);
	display: none;
	font-size: 4vw;
}
.active{
	display:block;
}

.liste{
	padding-top:11%;
}










	
	
