body{
	height:1000vh;
	margin:0vw;
	background:#e7f2f8;
	overflow-x: hidden;
	width: 100%;
	
}

h1{
	font-family: "Lucida Handwriting";
	font-size: 5vw;
}

h2{
	font-family: "Times New Roman";
	font-size: 3vw;
	text-align:left;
	margin-left:1vw;
	color:#ffb338;
}

h3{
	font-family: "Times New Roman";
	font-size: 5vw;
	text-align:left;
	left
	color:#ffb338;
}

.parallax{
	z-index=9998;
	position: absolute;
	width: 100vw;
	transform:translate(0%,-100%);  	
	margin:0vw;
	height:100vh;
	
		
}
.Train{
	position: absolute;
	animation-name: train_move;
  	animation-duration: 4s;
	animation-iteration-count: infinite;
	transform:translate(50%,-100%);
	
}


@media screen and (max-width: 600px){
	.Train{
	position:absolute;
	left:-50%;
	}




}

@keyframes train_move{
	from{right:0%;}
	to{right:110%;}
}

.frontcolor{
	position: absolute;
	background:#243f98;
	width:100vw;
	height:100vh;
	top: 100vh;
	 
}

.hi{
	z-index=9999;
	background:black;

}

